---
layout: page
title: "Posts"
permalink: /posts/
---

<p>성실도 - 성공한 것, 실패한 것, 도달한 결론을 기록하는 공간


{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    {% if post.categories contains "posts" %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date: "%F" }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<hr>
