---
layout: page
title: "Posts"
permalink: /posts/
---

<p>아무거나 막~ 확~ 그냥~ 끄적이는 공간~</p>

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    {% if post.categories contains "posts" %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date: "%F" }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<hr>
