---
layout: page
title: Study Note
permalink: /studynote/
---

<p>Literally Study Note.
  <br>
  허투루 공부하지 않도록 기록하는 곳
</p>


{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <p>Check status here</p>
  <!-- <h2 id="{{cat}}">{{ cat | capitalize }}</h2> -->
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    {% if post.categories contains "studynote" %}
    <p>Check status here: contains "studynote"</p>
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>
